@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;600;700&display=swap');
:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background: hsl(225, 100%, 94%) url('./pattern-background-desktop.svg') no-repeat;
  font-family: "Red Hat Display", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
}

main {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  width: 325px;
  height: 450px;
  top: 150px;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: 0px 0px 30px rgb(173, 171, 171);
}

.order {
  margin: 15px;
  text-align: center;
}

p {
  font-size: 16px;
  color: var(--Desaturated-blue);
}

p > span{
  font-weight: 700;
  color: black;
}

h1 {
  margin-bottom: 10px;
  font-weight: 700;
}

#img > img {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.detail {
  display: flex;
  background-color: var(--Very-pale-blue);
  margin: 10px;
  margin-bottom: 0;
  padding: 10px;
  border-radius: 10px;
  cursor: default;
}

.detail > img{
  width: 40px;
  height: 40px;
  margin-left: 5px;
}

.price {
  margin-left: 20px;
  align-self: center;
}

.change {
  align-self: center;
  margin-left: auto;
  margin-right: 5px;
  font-size: 12px;
  color: blue;
  font-weight: bolder;
}

.change:hover{
  opacity: 0.6;
}

.pay{
  width: 85%;
  margin: 20px;
  font-size: 12px;
  height: 30px;
  color: white;
  margin-bottom: 5px;
  background-color: var(--Bright-blue);
  border: none;
  font-weight: bolder;
  border-radius: 10px;
  box-shadow: 1px 5px 10px 3px rgb(173, 171, 171);
}

.pay:hover{
  opacity: 0.8;
  cursor: pointer;
}

.cancel{
  font-size: 14px;
  margin-top: 3px;
  font-weight: bolder;
}

.cancel:hover{
  color: black;
  cursor: pointer;
}

.tag{
  font-size: 12px;
  text-align: left;
}

.attribution {
  position: absolute;
  top: 500px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

/*mobile styling*/

@media (max-width: 375px) {
  .info {
    margin-left: 30px;
    margin-right: 30px;
  }
  main{
    top: 100px;
    height: 480px;
    width: 90vw;
    font-size: 11px;
    border-radius: 15px;
  }
  .pay{
    margin-bottom: 10px;
  }
  #img > img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
}
